<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.openteach.qsync.core.declare.DeclarePayTypeDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="declare-DeclarePayType-columns">
	    <![CDATA[
		`id` as `id`, `platform_pay_type` as `platformPayType`, `platform_pay_company_code` as `platformPayCompanyCode`, `declare_pay_type` as `declarePayType`, `isdeleted` as `isdeleted`, `createdatetime` as `createdatetime`, `updatedatetime` as `updatedatetime`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO cc_kata_kplus_declare_pay_type (
        `id`, `platform_pay_type`, `platform_pay_company_code`, `declare_pay_type`, `isdeleted`, `createdatetime`, `updatedatetime`
        ) VALUES (
        #{id}, #{platformPayType}, #{platformPayCompanyCode}, #{declarePayType}, #{isdeleted}, #{createdatetime}, #{updatedatetime}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE cc_kata_kplus_declare_pay_type SET
	        `platform_pay_type` = #{platformPayType} , `platform_pay_company_code` = #{platformPayCompanyCode} , `declare_pay_type` = #{declarePayType} , `isdeleted` = #{isdeleted} , `createdatetime` = #{createdatetime} , `updatedatetime` = #{updatedatetime}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM cc_kata_kplus_declare_pay_type WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="DeclarePayType">
		SELECT <include refid="declare-DeclarePayType-columns" />
	    <![CDATA[
		    FROM cc_kata_kplus_declare_pay_type 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="DeclarePayType-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="platformPayType">
				AND `platform_pay_type` = #{platformPayType}
			</if>
	       <if test="platformPayCompanyCode">
				AND `platform_pay_company_code` = #{platformPayCompanyCode}
			</if>
	       <if test="declarePayType">
				AND `declare_pay_type` = #{declarePayType}
			</if>
	       <if test="isdeleted">
				AND `isdeleted` = #{isdeleted}
			</if>
	       <if test="createdatetimeBegin != null">
				AND `createdatetime` >= #{createdatetimeBegin}
		   </if>
		   <if test="createdatetimeEnd != null">
				AND `createdatetime` &lt;= #{createdatetimeEnd}
		   </if>
	       <if test="updatedatetimeBegin != null">
				AND `updatedatetime` >= #{updatedatetimeBegin}
		   </if>
		   <if test="updatedatetimeEnd != null">
				AND `updatedatetime` &lt;= #{updatedatetimeEnd}
		   </if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM cc_kata_kplus_declare_pay_type 
		<include refid="DeclarePayType-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="DeclarePayType">
    	SELECT <include refid="declare-DeclarePayType-columns" />
	    FROM cc_kata_kplus_declare_pay_type 
		<include refid="DeclarePayType-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="list" resultType="DeclarePayType">
    	SELECT <include refid="declare-DeclarePayType-columns" />
	    FROM cc_kata_kplus_declare_pay_type 
		<include refid="DeclarePayType-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

