<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.openteach.qsync.core.order.AdmininfoDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="order-Admininfo-columns">
	    <![CDATA[
		`id` as `id`, `name` as `name`, `password` as `password`, `truename` as `truename`, `telephone` as `telephone`, `handphone` as `handphone`, `qq` as `qq`, `aliww` as `aliww`, `email` as `email`, `lastlogtime` as `lastlogtime`, `isdeleted` as `isdeleted`, `role_id` as `roleId`, `depart_id` as `departId`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO kata_kplus_admininfo (
        `id`, `name`, `password`, `truename`, `telephone`, `handphone`, `qq`, `aliww`, `email`, `lastlogtime`, `isdeleted`, `role_id`, `depart_id`
        ) VALUES (
        #{id}, #{name}, #{password}, #{truename}, #{telephone}, #{handphone}, #{qq}, #{aliww}, #{email}, #{lastlogtime}, #{isdeleted}, #{roleId}, #{departId}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE kata_kplus_admininfo SET
	        `name` = #{name} , `password` = #{password} , `truename` = #{truename} , `telephone` = #{telephone} , `handphone` = #{handphone} , `qq` = #{qq} , `aliww` = #{aliww} , `email` = #{email} , `lastlogtime` = #{lastlogtime} , `isdeleted` = #{isdeleted} , `role_id` = #{roleId} , `depart_id` = #{departId}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM kata_kplus_admininfo WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="Admininfo">
		SELECT <include refid="order-Admininfo-columns" />
	    <![CDATA[
		    FROM kata_kplus_admininfo 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="Admininfo-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="name">
				AND `name` = #{name}
			</if>
	       <if test="password">
				AND `password` = #{password}
			</if>
	       <if test="truename">
				AND `truename` = #{truename}
			</if>
	       <if test="telephone">
				AND `telephone` = #{telephone}
			</if>
	       <if test="handphone">
				AND `handphone` = #{handphone}
			</if>
	       <if test="qq">
				AND `qq` = #{qq}
			</if>
	       <if test="aliww">
				AND `aliww` = #{aliww}
			</if>
	       <if test="email">
				AND `email` = #{email}
			</if>
	       <if test="lastlogtimeBegin != null">
				AND `lastlogtime` >= #{lastlogtimeBegin}
		   </if>
		   <if test="lastlogtimeEnd != null">
				AND `lastlogtime` &lt;= #{lastlogtimeEnd}
		   </if>
	       <if test="isdeleted">
				AND `isdeleted` = #{isdeleted}
			</if>
	       <if test="roleId">
				AND `role_id` = #{roleId}
			</if>
	       <if test="departId">
				AND `depart_id` = #{departId}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM kata_kplus_admininfo 
		<include refid="Admininfo-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="Admininfo">
    	SELECT <include refid="order-Admininfo-columns" />
	    FROM kata_kplus_admininfo 
		<include refid="Admininfo-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="list" resultType="Admininfo">
    	SELECT <include refid="order-Admininfo-columns" />
	    FROM kata_kplus_admininfo 
		<include refid="Admininfo-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

