<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.openteach.qsync.core.order.OrderTransportDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="order-OrderTransport-columns">
	    <![CDATA[
		`id` as `id`, `code` as `code`, `congsignee` as `congsignee`, `place` as `place`, `waybillnumber` as `waybillnumber`, `postnumber` as `postnumber`, `source` as `source`, `country_id` as `countryId`, `province_id` as `provinceId`, `city_id` as `cityId`, `district_id` as `districtId`, `order_id` as `orderId`, `phonecountry` as `phonecountry`, `phonearea` as `phonearea`, `phone` as `phone`, `faxcountry` as `faxcountry`, `faxarea` as `faxarea`, `fax` as `fax`, `handphonecountry` as `handphonecountry`, `handphone` as `handphone`, `firstname` as `firstname`, `lastname` as `lastname`, `address1` as `address1`, `address2` as `address2`, `scity` as `scity`, `sprovince` as `sprovince`, `phonenumber` as `phonenumber`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO cc_kata_kplus_order_transport (
        `id`, `code`, `congsignee`, `place`, `waybillnumber`, `postnumber`, `source`, `country_id`, `province_id`, `city_id`, `district_id`, `order_id`, `phonecountry`, `phonearea`, `phone`, `faxcountry`, `faxarea`, `fax`, `handphonecountry`, `handphone`, `firstname`, `lastname`, `address1`, `address2`, `scity`, `sprovince`, `phonenumber`
        ) VALUES (
        #{id}, #{code}, #{congsignee}, #{place}, #{waybillnumber}, #{postnumber}, #{source}, #{countryId}, #{provinceId}, #{cityId}, #{districtId}, #{orderId}, #{phonecountry}, #{phonearea}, #{phone}, #{faxcountry}, #{faxarea}, #{fax}, #{handphonecountry}, #{handphone}, #{firstname}, #{lastname}, #{address1}, #{address2}, #{scity}, #{sprovince}, #{phonenumber}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE cc_kata_kplus_order_transport SET
	        `code` = #{code} , `congsignee` = #{congsignee} , `place` = #{place} , `waybillnumber` = #{waybillnumber} , `postnumber` = #{postnumber} , `source` = #{source} , `country_id` = #{countryId} , `province_id` = #{provinceId} , `city_id` = #{cityId} , `district_id` = #{districtId} , `order_id` = #{orderId} , `phonecountry` = #{phonecountry} , `phonearea` = #{phonearea} , `phone` = #{phone} , `faxcountry` = #{faxcountry} , `faxarea` = #{faxarea} , `fax` = #{fax} , `handphonecountry` = #{handphonecountry} , `handphone` = #{handphone} , `firstname` = #{firstname} , `lastname` = #{lastname} , `address1` = #{address1} , `address2` = #{address2} , `scity` = #{scity} , `sprovince` = #{sprovince} , `phonenumber` = #{phonenumber}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM cc_kata_kplus_order_transport WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="OrderTransport">
		SELECT <include refid="order-OrderTransport-columns" />
	    <![CDATA[
		    FROM cc_kata_kplus_order_transport 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="OrderTransport-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="code">
				AND `code` = #{code}
			</if>
	       <if test="congsignee">
				AND `congsignee` = #{congsignee}
			</if>
	       <if test="place">
				AND `place` = #{place}
			</if>
	       <if test="waybillnumber">
				AND `waybillnumber` = #{waybillnumber}
			</if>
	       <if test="postnumber">
				AND `postnumber` = #{postnumber}
			</if>
	       <if test="source">
				AND `source` = #{source}
			</if>
	       <if test="countryId">
				AND `country_id` = #{countryId}
			</if>
	       <if test="provinceId">
				AND `province_id` = #{provinceId}
			</if>
	       <if test="cityId">
				AND `city_id` = #{cityId}
			</if>
	       <if test="districtId">
				AND `district_id` = #{districtId}
			</if>
	       <if test="orderId">
				AND `order_id` = #{orderId}
			</if>
	       <if test="phonecountry">
				AND `phonecountry` = #{phonecountry}
			</if>
	       <if test="phonearea">
				AND `phonearea` = #{phonearea}
			</if>
	       <if test="phone">
				AND `phone` = #{phone}
			</if>
	       <if test="faxcountry">
				AND `faxcountry` = #{faxcountry}
			</if>
	       <if test="faxarea">
				AND `faxarea` = #{faxarea}
			</if>
	       <if test="fax">
				AND `fax` = #{fax}
			</if>
	       <if test="handphonecountry">
				AND `handphonecountry` = #{handphonecountry}
			</if>
	       <if test="handphone">
				AND `handphone` = #{handphone}
			</if>
	       <if test="firstname">
				AND `firstname` = #{firstname}
			</if>
	       <if test="lastname">
				AND `lastname` = #{lastname}
			</if>
	       <if test="address1">
				AND `address1` = #{address1}
			</if>
	       <if test="address2">
				AND `address2` = #{address2}
			</if>
	       <if test="scity">
				AND `scity` = #{scity}
			</if>
	       <if test="sprovince">
				AND `sprovince` = #{sprovince}
			</if>
	       <if test="phonenumber">
				AND `phonenumber` = #{phonenumber}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM cc_kata_kplus_order_transport 
		<include refid="OrderTransport-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="OrderTransport">
    	SELECT <include refid="order-OrderTransport-columns" />
	    FROM cc_kata_kplus_order_transport 
		<include refid="OrderTransport-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="list" resultType="OrderTransport">
    	SELECT <include refid="order-OrderTransport-columns" />
	    FROM cc_kata_kplus_order_transport 
		<include refid="OrderTransport-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

