<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.openteach.qsync.core.dao.logistics.TransportationDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="logistics-Transportation-columns">
	    <![CDATA[
		`id` as `id`, `name` as `name`, `picurl` as `picurl`, `remark` as `remark`, `freeshipping` as `freeshipping`, `isdeleted` as `isdeleted`, `createDatetime` as `createDatetime`, `updatedatetime` as `updatedatetime`, `tool_flt_no` as `toolFltNo`, `type_code` as `typeCode`, `from_country` as `fromCountry`, `pack_type` as `packType`, `application_form_no` as `applicationFormNo`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO cc_kata_kplus_transportation (
        `id`, `name`, `picurl`, `remark`, `freeshipping`, `isdeleted`, `createDatetime`, `updatedatetime`, `tool_flt_no`, `type_code`, `from_country`, `pack_type`, `application_form_no`
        ) VALUES (
        #{id}, #{name}, #{picurl}, #{remark}, #{freeshipping}, #{isdeleted}, #{createDatetime}, #{updatedatetime}, #{toolFltNo}, #{typeCode}, #{fromCountry}, #{packType}, #{applicationFormNo}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE cc_kata_kplus_transportation SET
	        `name` = #{name} , `picurl` = #{picurl} , `remark` = #{remark} , `freeshipping` = #{freeshipping} , `isdeleted` = #{isdeleted} , `createDatetime` = #{createDatetime} , `updatedatetime` = #{updatedatetime} , `tool_flt_no` = #{toolFltNo} , `type_code` = #{typeCode} , `from_country` = #{fromCountry} , `pack_type` = #{packType} , `application_form_no` = #{applicationFormNo}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM cc_kata_kplus_transportation WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="Transportation">
		SELECT <include refid="logistics-Transportation-columns" />
	    <![CDATA[
		    FROM cc_kata_kplus_transportation 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="Transportation-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="name">
				AND `name` = #{name}
			</if>
	       <if test="picurl">
				AND `picurl` = #{picurl}
			</if>
	       <if test="remark">
				AND `remark` = #{remark}
			</if>
	       <if test="freeshipping">
				AND `freeshipping` = #{freeshipping}
			</if>
	       <if test="isdeleted">
				AND `isdeleted` = #{isdeleted}
			</if>
	       <if test="createDatetimeBegin != null">
				AND `createDatetime` >= #{createDatetimeBegin}
		   </if>
		   <if test="createDatetimeEnd != null">
				AND `createDatetime` &lt;= #{createDatetimeEnd}
		   </if>
	       <if test="updatedatetimeBegin != null">
				AND `updatedatetime` >= #{updatedatetimeBegin}
		   </if>
		   <if test="updatedatetimeEnd != null">
				AND `updatedatetime` &lt;= #{updatedatetimeEnd}
		   </if>
	       <if test="toolFltNo">
				AND `tool_flt_no` = #{toolFltNo}
			</if>
	       <if test="typeCode">
				AND `type_code` = #{typeCode}
			</if>
	       <if test="fromCountry">
				AND `from_country` = #{fromCountry}
			</if>
	       <if test="packType">
				AND `pack_type` = #{packType}
			</if>
	       <if test="applicationFormNo">
				AND `application_form_no` = #{applicationFormNo}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM cc_kata_kplus_transportation 
		<include refid="Transportation-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="Transportation">
    	SELECT <include refid="logistics-Transportation-columns" />
	    FROM cc_kata_kplus_transportation 
		<include refid="Transportation-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="list" resultType="Transportation">
    	SELECT <include refid="logistics-Transportation-columns" />
	    FROM cc_kata_kplus_transportation 
		<include refid="Transportation-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

