<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.openteach.qsync.core.goods.TransportCommodityDao">
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="goods-TransportCommodity-columns">
	    <![CDATA[
		`id` as `id`, `number` as `number`, `iscomment` as `iscomment`, `price` as `price`, `delivernum` as `delivernum`, `source` as `source`, `transport_id` as `transportId`, `sku_id` as `skuId`, `isreturn` as `isreturn`
	    ]]>
	</sql>	

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO cc_kata_kplus_transport_commodity (
        `id`, `number`, `iscomment`, `price`, `delivernum`, `source`, `transport_id`, `sku_id`, `isreturn`
        ) VALUES (
        #{id}, #{number}, #{iscomment}, #{price}, #{delivernum}, #{source}, #{transportId}, #{skuId}, #{isreturn}        
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
    <![CDATA[
        UPDATE cc_kata_kplus_transport_commodity SET
	        `number` = #{number} , `iscomment` = #{iscomment} , `price` = #{price} , `delivernum` = #{delivernum} , `source` = #{source} , `transport_id` = #{transportId} , `sku_id` = #{skuId} , `isreturn` = #{isreturn}  
        WHERE 
        	id = #{id}  	        
    ]]>
	</update>

    <delete id="deleteById">
    <![CDATA[
        DELETE FROM cc_kata_kplus_transport_commodity WHERE
        `id` = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultType="TransportCommodity">
		SELECT <include refid="goods-TransportCommodity-columns" />
	    <![CDATA[
		    FROM cc_kata_kplus_transport_commodity 
	        WHERE 
		        `id` = #{id} 
	    ]]>
	</select>
	
	<sql id="TransportCommodity-where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="id">
				AND `id` = #{id}
			</if>
	       <if test="number">
				AND `number` = #{number}
			</if>
	       <if test="iscomment">
				AND `iscomment` = #{iscomment}
			</if>
	       <if test="price">
				AND `price` = #{price}
			</if>
	       <if test="delivernum">
				AND `delivernum` = #{delivernum}
			</if>
	       <if test="source">
				AND `source` = #{source}
			</if>
	       <if test="transportId">
				AND `transport_id` = #{transportId}
			</if>
	       <if test="skuId">
				AND `sku_id` = #{skuId}
			</if>
	       <if test="isreturn">
				AND `isreturn` = #{isreturn}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM cc_kata_kplus_transport_commodity 
		<include refid="TransportCommodity-where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultType="TransportCommodity">
    	SELECT <include refid="goods-TransportCommodity-columns" />
	    FROM cc_kata_kplus_transport_commodity 
		<include refid="TransportCommodity-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="list" resultType="TransportCommodity">
    	SELECT <include refid="goods-TransportCommodity-columns" />
	    FROM cc_kata_kplus_transport_commodity 
		<include refid="TransportCommodity-where"/>
		
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

